.error-wrapper {
  padding: 16px;
  background-color: #fff4e6;
  border-radius: 4px;
}
.error-content {
  display: flex;
  align-items: center;
  gap: 10px;
}
.error-content p {
  margin: unset;
  color: #cc9600;
  font-size: 16px;
  font-weight: 500;
}
.error-icon {
  width: 35px;
  height: 35px;
  background-image: url('/assets/icons/error.svg');
  background-size: contain;
  background-repeat: no-repeat;
}