/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #4e4e4e;
}
input:focus,select:focus {
  outline: none;
  outline: 2px solid #dddddd;
}